html {
  scroll-behavior: smooth;
}

body{
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.1 !important;
    color: #000;

}
h1,h2,h3,h4,h5,h6{
    font-family: Oswald;
    font-weight: 400;
}

img{
    max-width: 100%;
    height: auto;
}
a{
    color: #fd7501;
    text-decoration: none;
}
a:hover{
    color: #fd7501;
    text-decoration: none;
}
